{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner-slider %}
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
          <div class="carousel-item ">
        <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
    </div>
{% endblock banner-slider %}    
{% block information %} 
<div class="container">
    <div class="row bg-success text-center p-5 text-white border-bottom shadow">
        <h1>Products</h1>
        <small class="fs-5">
            Dodla offers a wide range of products in both liquid milk 
            and by-product catagories, The liquid milk comprises of 5 types of variants and 
            the by-product comprises of 14 types of variants.
                
                 Dodla offers a wide range of milk products comprising of fresh Milk, 
                 Butter , Ghee, Paneer, Curd, Flavoured Milk, Doodh Peda, Ice Cream and
                 Skimmed Milk Power
               
        </small>
    </div>
</div>

{% endblock information%}
{% block main-content %}
    <div class="container">
        <!-- <h2 class="text-center">Dairy Products</h2>
        <br><br>
        <div class="row container">
             <div class="col-md-4 col-sm-6 mb-4 wow fadeInUp" data-wow-duration="ls"
             data-wow-delay="0.6s" style="animation-duration: ls; animation-delay: 0.6; 
             animation-name: none;">
                   <div class="goodnesssec buttermilk smbg">
                     <a href="#">
                        <div class="goodnesssecont text-center">
                          <img src="{% static 'app/images/product/buffalo-ghee.png'%}" 
                            class="img-responsive center block" alt="">
                            <p class="mlkpro">Ghee</p>
                        </div>
                     </a>
                    </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4 wow fadeInUp" data-wow-duration="ls"
             data-wow-delay="0.6s" style="animation-duration: ls; animation-delay: 0.6; 
             animation-name: none;">
                   <div class="goodnesssec buttermilk curdbgpro">
                     <a href="#">
                        <div class="goodnesssecont text-center">
                          <img src="{% static 'app/images/product/curd-total.png'%}" 
                            class="img-responsive center block" alt="">
                            <p class="mlkpro">CURD</p>
                        </div>
                     </a>
                    </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4 wow fadeInUp" data-wow-duration="ls"
             data-wow-delay="0.6s" style="animation-duration: ls; animation-delay: 0.6; 
             animation-name: none;">
                   <div class="goodnesssec buttermilk buttermilk">
                     <a href="#">
                        <div class="goodnesssecont text-center">
                          <img src="{% static 'app/images/product/kulfi.png'%}" 
                            class="img-responsive center block" alt="">
                            <p class="mlkpro">Kulfi</p>
                        </div>
                     </a>
                    </div>
                  </div> -->
                  <h2 class="text-center mb-5">Dairy Products</h2> <!-- Bootstrap margin used -->

<div class="container">
  <div class="row">
    
    <div class="col-md-4 col-sm-6 mb-4 wow fadeInUp" data-wow-duration="1s"
         data-wow-delay="0.6s">
      <div class="goodnesssec buttermilk smbg p-4 text-center"> <!-- added padding -->
        <a href="#">
          <div class="goodnesssecont">
            <img src="{% static 'app/images/product/buffalo-ghee.png'%}" 
                 class="img-fluid mx-auto d-block" alt="">
            <p class="mlkpro mt-3">Ghee</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 mb-4 wow fadeInUp" data-wow-duration="1s"
         data-wow-delay="0.6s">
      <div class="goodnesssec buttermilk curdbgpro p-4 text-center">
        <a href="#">
          <div class="goodnesssecont">
            <img src="{% static 'app/images/product/curd-total.png'%}" 
                 class="img-fluid mx-auto d-block" alt="">
            <p class="mlkpro mt-3">CURD</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 mb-4 wow fadeInUp" data-wow-duration="1s"
         data-wow-delay="0.6s">
      <div class="goodnesssec buttermilk p-4 text-center">
        <a href="#">
          <div class="goodnesssecont">
            <img src="{% static 'app/images/product/kulfi.png'%}" 
                 class="img-fluid mx-auto d-block" alt="">
            <p class="mlkpro mt-3">Kulfi</p>
          </div>
        </a>
      </div>
    </div>



                </div>
                <br><br>
<div class="container">
  <div class="row">
    
    <div class="col-md-4 col-sm-6 mb-4 wow fadeInUp" data-wow-duration="1s"
         data-wow-delay="0.6s">
      <div class="goodnesssec buttermilk smbg p-4 text-center"> <!-- added padding -->
        <a href="#">
          <div class="goodnesssecont">
            <img src="{% static 'app/images/product/milk-shake-chocolate.png'%}" 
                 class="img-fluid mx-auto d-block" alt="">
            <p class="mlkpro mt-3">MilkShake</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 mb-4 wow fadeInUp" data-wow-duration="1s"
         data-wow-delay="0.6s">
      <div class="goodnesssec buttermilk curdbgpro p-4 text-center">
        <a href="#">
          <div class="goodnesssecont">
            <img src="{% static 'app/images/product/cow-milk.png'%}" 
                 class="img-fluid mx-auto d-block" alt="">
            <p class="mlkpro mt-3">Milk</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 mb-4 wow fadeInUp" data-wow-duration="1s"
         data-wow-delay="0.6s">
      <div class="goodnesssec buttermilk p-4 text-center">
        <a href="#">
          <div class="goodnesssecont">
            <img src="{% static 'app/images/product/icbars.png'%}" 
                 class="img-fluid mx-auto d-block" alt="">
            <p class="mlkpro mt-3">Icebars</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
</div>
<br/><br/>
</div>

{% endblock main-content %}